#home {
  margin-top: 3rem;
  padding-top: 10rem;
  background-image: url(img/banner.jpg);
  padding-bottom: 10rem;
}
#profile {
  margin-top: 3rem;
  padding-top: 5rem;
}
#profile .profileimg {
  width: 30rem;
  height: 20rem;
}
#harga {
  padding-top: 5rem;
  background-color: rgb(137, 174, 241);
}

#project {
  padding-top: 5rem;
}
#project .clasproject {
  padding-bottom: 5rem;
  padding-left: 8rem;
  padding-right: 8rem;
  margin-bottom: 8rem;
}
@media (max-width: 984px) {
  #project .clasproject {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
#project .project {
  padding-bottom: 5rem;
}
#contact {
  background-color: rgb(137, 174, 241);
  padding-top: 4rem;
  padding-bottom: 5rem;
}
#contact .ccc {
  font-size: 20px;
  margin-left: 5rem;
}
#contact .ccc i {
  font-size: 30px;
}
#contact .ccccc {
  margin-left: 5rem;
  font-size: 20px;
}
#contact .ccccc i {
  font-size: 33px;
}
